.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  color: white;
}

.bedroom {
  background-color: lightskyblue;
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.bath {
  background-color: palegreen;
}

.living-room {
  background-color: bisque;
  grid-column: 3 / span 2;
  grid-row: 1 / span 3;
}

.kitchen {
  background-color: goldenrod;
  display: grid;
  grid-row-end: span 3;
}

.oven {
  background-color: darkred;
}

.sink {
  background-color: sienna;
}

.floor-plan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#bed-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

#Full-bath {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
}


